<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="quanlyrenluyen.Properties.Settings.ketquarenluyenConnectionString"
            connectionString="Data Source=Administrator;Initial Catalog=ketquarenluyen;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>